.login-button {
    display: flex;
    justify-content: flex-end;
    margin-right : 50px;
    margin-top: 20px;
    /*margin: 20px;*/
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


}

.logo {
    cursor: pointer;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-grow: 1;
    margin-left: 150px;

}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
}

.search-bar {
    margin-right: 50px;
    border: 1px solid ;
    border-color:  transparent transparent black transparent;
    /*border-bottom-color: black;*/
    height: 35px;
}

input:focus::placeholder {
    color: transparent;
}

.custom-card {
    border: none !important;
    margin-bottom: 10px;
    transition: transform .2s;
}

.custom-card:hover {
    transform: scale(1.1);
}

.choice-box {
    border: 1px outset black;
    padding: 3px;
    margin: 5px;
    margin-left: 0;
    text-align: center;
    width: fit-content;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.new-box {
    border: 1px outset black;
    padding: 3px;
    margin: 5px;
    margin-left: 0;
    text-align: center;
    width: fit-content;
    background-color: #e0f7fa;
    border-radius: 5px;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
}

/* PC 환경 */
@media (min-width: 769px) {
  .nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .menu-area {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
  }
   .sidebar-toggle {
    display: none;
  }
}

/* 모바일 환경 */
/*@media (max-width: 412px) {*/
/*  .nav-section {*/
/*   display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*  }*/
/*  .menu-area {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 250px;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*  }*/
/*  .menu-list {*/
/*    display: block;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 250px;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    background-color: #f2f2f2;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style-type: none;*/
/*  }*/
/*  .menu-list li {*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ccc;*/
/*  }*/
/*    .sidebar-toggle {*/
/*    display: block;*/
/*  }*/

/*}*/