


.login-button {
    display: flex;
    justify-content: space-between;

    /*margin-right: 100px;*/
    margin-top: 20px;
    /*margin: 20px;*/
    cursor: pointer;
        position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar-button {
    display: flex;
    justify-content: space-between;
    /*margin-left: 100px;*/
    margin-top: 20px;
    /*margin-left: auto;*/
    cursor: pointer;
        position: absolute;
    top: 10px;
    left: 10px;

}

.mobile-button {
    boder: none;
    backgroud-color: transparent;

}


.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
}

.logo {
    cursor: pointer;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-grow: 1;
    margin-left: 233px;

    li {
        padding: 10px;
    }
}

.menu-area {
    display: flex;
}


.search-bar {
    margin-right: 50px;
    border: 1px solid;
    border-color: transparent transparent black transparent;
    /*border-bottom-color: black;*/
    height: 35px;


}

input:focus::placeholder {
    color: transparent;
}

.custom-card {
    border: none !important;
    margin-bottom: 10px;
    transition: transform .2s;
}

.custom-card:hover {
    transform: scale(1.1);
}

.choice-box {
    border: 1px outset black;
    padding: 3px;
    margin: 5px;
    margin-left: 0;
    text-align: center;
    width: fit-content;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.new-box {
    border: 1px outset black;
    padding: 3px;
    margin: 5px;
    margin-left: 0;
    text-align: center;
    width: fit-content;
    background-color: #e0f7fa;
    border-radius: 5px;
}

.icon-container {
    display: flex;
    justify-content: flex-start;

}


.close-button {
    border: none;
    background-color: transparent;
    margin-left: auto;
}



.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.sidebar.closed {

    display: none;
}

.sidebar h2 {
    margin: 0 0 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width: 501px) {
    .login-pc{
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 20px;
        width: 600px;
    }

    .mobile-button {
        display: none;
    }
}


@media (max-width: 500px) {
    .menu-list {
        display: none;
    }

    .search-bar {
        margin: auto;


    }


    .detail-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        margin: 20px;
    }

    /*.login-container {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/

    /*    width: 200px;*/
    /*    height: 20%;*/
    /*    margin: 20px;*/
    /*    border: 1px solid transparent;*/
    /*}*/


    .mobile-text {
        font-size: 12px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;
    }

    .my-row {
        margin: 0 !important;
            display: flex;
    align-items: center;
    }



    .product-detail-img {
        height: 100%;
        width: 100%;
        padding: 10%;
    }

    .detail-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    .detail-button-buy {

        margin-top: 0 !important;;
    }


}